# Dependencies
node_modules/

# Production packaged binaries (Avoid GitHub 100MB file limit)
FlowAutoStudio-win32-x64/
*.lnk
/dist/
build/

# Temporary test scenes and logs
public/debug/scenes/
scratch/
*.log
flow-auto-studio.log

# Temporary test projects
data/projects/**
!data/projects/.gitkeep

# Profiles and temporary data
.easyaihub-chrome-profile/
.easyaihub-session-backup/
.easyaihub-extension/
.turboflow-chrome-profile/
.turboflow-session-backup/
.turboflow-extension/

# OS files
Thumbs.db
.DS_Store

